*{
    font-family: Poppins;
    color: #243143;
    box-sizing: border-box;
    font-style: normal;
    line-height: normal;
    list-style: none;
    text-decoration: none;
}
body{
    padding: 0;
    margin: 0;
}
.container_background{max-width: 100%; margin: 0 auto; height: 880px; background: #FBF2ED;}
.container{max-width: 1362px; margin: 0 auto;}

/*-------------------------------------------- common section ------------------------------------------*/
.content_top_area p,
.mailo_service_section_content p,
.mailo_about_content_section_top p,
.mailo_about_box p,
.mailo_about_review p,
.mailo_blog_content_box p{
    font-size: 16px;
    font-weight: 400;
    opacity: 0.8;
    margin: 0;
}

.mailo_service_section_content h6,
.mailo_about_content_section_top h6,
.mailo_our_project_content h6,
.mailo_blog_section_upper h6,
.mailo_customer_review_section_top h6,
.customer_info h6{
    font-size: 18px;
    color: #B7764B;
    font-weight: 500;
    margin: 0;
}
.mailo_service_section_content h3,
.mailo_about_content_section_top h3,
.mailo_our_project_content h3,
.mailo_blog_section_upper h3,
.mailo_customer_review_section_top h3{
    font-size: 36px;
    font-weight: 700;
    margin: 0;
}
.service_product_box h4,
.project_demo_box h4,
.mailo_blog_content_box h4,
.customer_info h4{
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}
.service_product_box p,
.project_demo_box p,
.customer_review_content_box p,
.footer_logo_part p,
.footer_searching_part p{
    font-size: 14px;
    opacity: 0.8;
    margin: 0;
}





/*--------------------------------------------- header section --------------------------------------------*/
.mailo_header_section{
    display: flex;
    justify-content: space-between;
    padding: 45px 0;
}
.mailo_header_menu{
    display: flex;
    gap: 70px;
    padding-top: 12px;
}
.mailo_header_logo img{width: 86px; height: 20px;}
.mailo_main_menu ul{
    padding: 0;
    margin: 0;
    display: flex;
}
.mailo_main_menu ul li{
    padding: 0px 30px;
    position: relative;
}
.mailo_main_menu ul li a{
    text-transform: capitalize;
    font-weight: 500;
    font-size: 14px;
}
i.fa-solid.fa-angle-down {
    margin-left: 6px;
}
.mailo_dropdown_content{
    background: #d5b9a9;
    width: 150px;
    display: none;
    position: absolute;
    top: 100%;
}
.mailo_dropdown_content ul{
    display: block;
}
.mailo_dropdown_content ul li{
    padding: 15px;
}
.mailo_dropdown_content ul li a{
    color: #243143;
}
.mailo_dropdawn:hover .mailo_dropdown_content{
    display: block;
}



.mailo_login_option button{
    border: none;
    background: none;
    text-transform: capitalize;
    color: #B7764B;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}
.mailo_login_option .login{
    background: #243143;
    color: #FFF;
    width: 100px;
    height: 50px;
    border-radius: 25px;
    margin-left: 30px;
}
/* --------------------------------------- hero section ----------------------------------*/
.mailo_hero_area_bg{
    max-width: 1863px;
    margin: 0 auto;
    background: url('./img/fade-img.svg'), url('./img/Vector5.svg');
    background-repeat: no-repeat;
    background-position: 90% 12%, 100% 61%;
}
.mailo_hero_section{
    background: url('./img/fade-img2.svg'), url('./img/Group\ 1.svg'), url('./img/dawn-arrow.png'), url('./img/up-arrow.png');
    background-repeat: no-repeat;
    background-position: 62% 48%, 60% 21%, -2% 80%, 39% 67%;
    display: flex;
    justify-content: space-between;
    padding-top: 65px;
}
.mailo_hero_section_content_area{
    display: flex;
    flex-direction: column;
}
.content_top_area> p{width: 725px;}
.content_top_area a span{
    font-size: 14px;
    font-weight: 500;
    background: #F2E0D5;
    padding: 10px 20px;
    border-radius: 25px;
}
.content_top_area h1{
    background: url('./img/Group\ 23.svg');
    background-repeat: no-repeat;
    background-position: 95% 45%;
    background-size: 470px 92px;
    font-size: 62px;
    font-weight: 700;
    line-height: 80px;
    text-transform: capitalize;
    width: 642px;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 30px;
}
.content_bottom_area{
    display: flex;
    gap: 20px;
    padding-top: 50px;
}
.content_bottom_area button{
    border: none;
    background: #B7764B;
    color: #FFF;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
    width: 160px;
    height: 54px;
    border-radius: 50px;
}
.mailo_video{
    display: flex;
    align-items: center;
    gap: 10px;
}
.mailo_scroll{
    font-size: 16px;
    font-weight: 500;
    padding-top: 110px;
}
.mailo_hero_section_image img{
    position: relative;
    top: -90px;
    right: -93px;
}
/* ---------------------------- service section --------------------------------- */
.service_product_left, .service_product_right{
    display: flex;
    gap: 30px;
}
.mailo_service_section{
    padding-top: 160px;
    padding-bottom: 130px;
}
.mailo_service_section_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mailo_service_section_content> h6{padding-bottom: 10px;}
.mailo_service_section_content> p{
    text-align: center;
    padding-top: 10px;
}
.mailo_service_section_box{
    display: flex;
    padding-top: 50px;
    justify-content: center;
    gap: 30px;
}
.service_product_box img{width: 60px; height: 60px;}
.service_product{
    max-width: 318px;
    height: 320px;
    border: 1px dashed #B7764B;
    border-radius: 15px;
}
.service_product:hover {
    background: #FBF2ED;
    border-color: transparent;
    transition: .5s;
}
.service_product_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 45px 35px 65px 35px;
}
.service_product_box>h4{padding: 24px 0 17px 0;}
.service_product_box>p{text-align: center;}
/* ---------------------------- about section --------------------------------- */
.container_about_background{max-width: 100%; margin: 0 auto; background: #FFF9F5; padding: 110px 0;}
.mailo_about_section{display: flex; gap: 60px;}
.mailo_about_image_section img{
    position: relative;
    left: -50px;
}
.mailo_about_content_section_top{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 60px;
}
.mailo_about_content_section_middle{
    display: flex;
    gap: 30px;
    padding-bottom: 50px;
}
.mailo_about_box_group_1{display: flex; flex-direction: column; gap: 30px;}
.mailo_about_box_group_2{display: flex; flex-direction: column; gap: 30px;}
.mailo_about_content_box{
    width: 318px;
    height: 160px;
    border: 1px dashed #B7764B;
    border-radius: 15px;
}
.mailo_about_box{padding: 25px 40px 20px 20px;}
.mailo_about_content_box:hover{background: #FBF2ED; transition: .5s; cursor: pointer; border-color:transparent ;}
.mailo_about_box h6{
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 5px;
}
.content_more{background: #B7764B; display: flex; align-items: center; justify-content: center;}
.content_more span{
    color: #FFF;
    font-size: 30px;
    font-weight: 600;
}
.mailo_about_content_section_bottom{display: flex; gap: 130px;}
.mailo_about_review{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.mailo_about_review span{
    color: #B7764B;
    font-size: 44px;
    font-weight: 300;
}
/* ------------------------------------ our project ------------------------------- */
.project_demo_box_left, .project_demo_box_right{
    display: flex;
    gap: 30px;
}
.our_project_background{
  max-width: 1600px;
  margin: auto;
  background: url('./img/project/Vector12\(1\).svg'), url('./img/project/Vector4\(1\).svg');
  background-repeat: no-repeat;
  background-position: 0% 65%, 92% 10%;
}
.mailo_our_project_sction{padding: 110px 0px;}
.mailo_our_project_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.project_menu_list ul{
    padding: 0;
    display: flex;
}
.project_menu_list ul li{padding: 8px 25px; margin: 0px 15px; cursor: pointer;}
.project_menu_list ul li a{
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
}
.project_menu_list ul li:hover{background: #B7764B; border-radius: 17px;}
.project_menu_list ul li:hover a{color: #FFF;}
.mailo_our_project_content::after{
    content: "";
    width: 1362px;
    border: 1px solid #E1E1E1;
}

.mailo_our_projetc_button::before{
    content: "";
    width: 1362px;
    border: 1px solid #E1E1E1;
    display: flex;
    margin-bottom: 65px;
}
.mailo_our_project_content_demo{display: flex; justify-content: center; padding-top: 50px; gap: 30px;}
.project_demo_box{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.project_demo_box> p{width: 267px; text-align: center;}
.mailo_our_projetc_button{text-align: center; padding-top: 50px;}
.mailo_our_projetc_button span{
    width: 202px; 
    height: 60px;
    background: #B7764B;
    color: #FFF;
    padding: 18px 40px;
    border-radius: 30px;
}

/* ------------------------------ blog section --------------------------------- */
.mailo_blog_section_content_box_left{display: flex; gap: 30px;}
.mailo_blog_section_background{
    width: 100%; 
    background: #EEEFF8;
    padding: 110px 0px;
}
.mailo_blog_section_upper{display: flex; flex-direction: column; align-items: center; padding-bottom: 40px;}
.mailo_blog_section_dawn{display: flex; justify-content: center; gap: 30px;}
.mailo_blog_section_content_box{
    width: 434px;
    height: 680px;
    background: #FFF;
    border-radius: 10px;
    position: relative;
}
.blog_date{
    position: absolute;
    top: 325px;
    left: 170px;
    background: #B7764B;
    width: 90px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
.blog_date span{
    text-transform: capitalize;
    font-weight: 600;
    font-size: 24;
    color: #FFF;
}
.mailo_blog_content_box{padding: 70px 47px 30px 47px;}
.mailo_blog_content_box h4{text-align: center; padding-bottom: 15px;}
.mailo_blog_content_box p{text-align: center;}
.mailo_blog_content_box p::after{
    content: "";
    border: 1px solid #EEEFF8;
    width: 340px;
    display: flex;
    margin: 30px 0px;
}
.mailo_blog_rating{display: flex; justify-content: center; gap: 20px;}
.mailo_blog_rating_speech{display: flex; align-items: center; gap: 10px;}
.mailo_blog_rating_heart{display: flex; align-items: center; gap: 10px;}

/* ------------------------------ customer review ------------------------ */
.customer_review_box_left{display: flex; gap: 30px;}
.mailo_customer_review_section{
    padding: 110px 0px;
    background: url('./img/customer/wave.svg');
    background-repeat: no-repeat;
    background-position: 90% 13%;
}
.mailo_customer_review_section_top{display: flex; flex-direction: column; align-items: center; padding-bottom: 70px;}
.mailo_customer_review_section_dawn{display: flex; justify-content: center; gap: 30px;}
.customer_review_box{
    width: 434px;
    height: 300px;
    border: 1px dashed #B7764B;
    border-radius: 15px;
    position: relative;
}
.quata_image{
    position: absolute;
    top: -18px;
    left: 140px;
}
.customer_review_content_box{
    padding: 35px 40px 30px 40px;
}
.customer_section_part{display: flex; align-items: center; gap: 20px; padding-bottom: 25px;}

.customer_location{display: flex; align-items: center; padding-top: 40px; gap: 10px;}
.customer_location span{
    font-size: 12px;
    font-weight: 400;
    opacity: 0.6;
}
.customer_review_box:hover{
    background: #FBF2ED;
    border-color: transparent;
    transition: .3s;
}
/* -------------------------------- footer section ----------------------------- */
.mailo_footer_area_top_part{
    background: #B7764B;
    border-radius: 15px;
    height: 443px;
    position: relative;
}
.footer_wave_image{
    position: absolute;
    top: 167px;
    left: 56px;
}
#footer_wave{
    position: absolute;
    top: 121px;
    right: 105px;
}
.mailo_footer_area_top_part_content{
    height: 443px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mailo_footer_area_top_part_content h2{
    font-size: 48px;
    color: #FFF;
    font-weight: 700;
    text-align: center;
    margin: 0;
    padding: 80px 0 40px 0;
}
.input_form{display: flex; gap: 30px;}
.input_form input:focus{outline: none;}
.input_form input{
    width: 450px;
    height: 80px;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    padding-left: 30px;
}
.input_form button{
    background: #243143;
    padding: 23px 65px;
    font-size: 18px;
    color: #FFF;
    border-radius: 50px;
    border: none;
}
.mailo_footer_area_main_part{
    padding-top: 110px;
}
/* --------------------- footer second part -------------------- */
.mailo_footer_section_background{
    background: url('./img/Group25.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 1920px 850px;
}
.mailo_footer_area_main_part{display: flex; flex-direction: column;}
.mailo_footer_area_main_top_part{display: flex;}
.footer_logo_part p{width: 318px; padding-top: 45px;}
.footer_logo_part{padding-right: 174px;}
.footer_logo_part p{line-height: 25px;}

.footer_menu_part h6,
.footer_2nd_menu_part h6,
.footer_searching_part h6{
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}
.footer_menu ul{padding: 35px 0 0 0; margin: 0; display: flex; flex-direction: column; gap: 17px;}
.footer_menu ul li a{font-size: 14px; text-transform: capitalize; opacity: 0.8;}
.footer_menu ul li:hover a{text-decoration: underline;}
.footer_menu_part{padding-right: 150px;}
.footer_2nd_menu_part{padding-right: 140px;}
.footer_searching_part p{padding: 40px 0 20px 0;}
.footer_form input{
    width: 370px;
    height: 60px;
    border: none;
    font-size: 14px;
    border-radius: 30px;
    padding-left: 30px;
}
.footer_form input:focus{outline: none;}
.footer_form{ position: relative;}
.footer_form img{position: absolute; top: 19px; right: 25px;}
.mailo_footer_area_main_bottom_part{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding-top: 110px;
    padding-bottom: 100px;
}
.footer_copyright_part span{font-size: 18px; opacity: 0.8;}
.footer_socialicon ul{padding: 0; display: flex; gap: 20px;}
.footer_socialicon ul li .fa-brands{
    width: 20px;
    height: 20px; 
    display: flex; 
    align-items: center;
    justify-content: center;
    color: #B7764B;
}
.footer_socialicon ul li:hover{background: #B7764B; cursor: pointer;transition: .5s;}
.footer_socialicon ul li:hover .fa-brands{color: #FFF;}
.footer_socialicon ul li{padding: 15px; background: #FFF; border-radius: 50%;}


















/* ---------------------- here is responsive code ---------------------- */
@media  (max-width: 1440px) {
    .mailo_hero_area_bg {
        background: none;
    }
    .mailo_hero_section_image img {
        right: -40px;
    }
    .our_project_background {
        background: none;
    }
}
@media  (max-width: 1024px){
    .content_top_area h1 {
        background: url(./img/Group\ 23.svg);
        background-repeat: no-repeat;
        background-position: 82% 46%;
        background-size: 229px 77px;
        font-size: 46px;
        font-weight: 700;
        line-height: 70px;
        text-transform: capitalize;
        width: 519px;
    }
    .mailo_hero_section {
        background: url(./img/Group\ 1.svg);
        background-repeat: no-repeat;
        background-size: 16%;
        background-position: 56% 19%;
        padding: 80px 30px;
    }
    .content_top_area> p {
        width: 585px;
    }
    .content_top_area p, 
    .mailo_service_section_content p, 
    .mailo_about_content_section_top p, 
    .mailo_about_box p, 
    .mailo_about_review p, 
    .mailo_blog_content_box p {
        font-size: 12px;
    }
    .mailo_hero_section_image img {
        width: 390px;
        right: 0;
    }
    .container_background {
        height: 695px;
    }
    .mailo_scroll {
        padding-top: 40px;
    }
    .mailo_header_section {
        padding: 20px 30px;
    }
    .service_product_box h4, 
    .project_demo_box h4, 
    .mailo_blog_content_box h4, 
    .customer_info h4 {
        font-size: 16px;
    }
    .mailo_service_section {
       padding: 100px 30px;
    }
    .service_product_box p, 
    .project_demo_box p, 
    .customer_review_content_box p, 
    .footer_logo_part p, 
    .footer_searching_part p {
        font-size: 10px;
    }
    .service_product_box img {
        width: 50px;
        height: 50px;
    }
    .service_product_box {
        padding: 43px 23px 17px 22px;
    }
    .service_product {
        height: 268px;
    }
    .mailo_about_content_box {
        width: 250px;
        height: 150px;
    }
    .mailo_service_section_content h3, 
    .mailo_about_content_section_top h3, 
    .mailo_our_project_content h3, 
    .mailo_blog_section_upper h3, 
    .mailo_customer_review_section_top h3 {
        font-size: 30px;
    }
    .mailo_about_content_section_middle {
        gap: 20px;
    }
    .mailo_about_box_group_2 {
        gap: 20px;
    }
    .mailo_about_box_group_1 {
        gap: 20px;
    }
    .mailo_about_image_section img {
        width: 460px;
    }
    .mailo_about_section {
        gap: 10px;
    }
    .mailo_about_content_section_top> p {
        width: 520px;
    }
    .mailo_about_content_section_bottom {
        gap: 100px;
    }
    .mailo_about_review span {
        font-size: 34px;
    }
    .container_about_background {
        padding: 80px 0;
    }
    /* -----------our project----------------- */
    .project_demo_box_left, .project_demo_box_right {
        gap: 20px;
    }
    .project_demo_box> p {
        width: 190px;
    }
    .project_demo_box img {
        width: 229px;
    }
    .project_demo_box {
        gap: 12px;
    }
    .mailo_our_project_content_demo {
        gap: 20px;
    }
    .mailo_our_project_sction {
        padding: 80px 0px;
    }
    .mailo_our_project_content::after {
        width: 1024px;
    }
    .mailo_our_projetc_button::before {
        width: 1024px;
    }
    .project_menu_list ul li {
        padding: 8px 20px;
        margin: 0px 10px;
    }
    .mailo_our_projetc_button span {
        padding: 18px 30px;
    }
    .mailo_service_section_box {
        gap: 20px;
    }
    /* ----------------------blog section----------------- */
    .mailo_blog_section_background {
        padding: 80px 0px;
    }
    .mailo_blog_section_content_box> img {
        width: 310px;
    }
    .mailo_blog_content_box {
        padding: 35px 30px 18px 30px;
    }
    .mailo_blog_section_content_box {
        width: 312px;
        height: 520px;
    }
    .mailo_blog_content_box p::after {
        width: 300px;
        margin: 20px 0px;
    }
    .mailo_blog_section_dawn {
        gap: 20px;
    }
    .blog_date {
        top: 223px;
        left: 104px;
        width: 80px;
        height: 80px;
        border-radius: 25px;
    }
    .mailo_about_image_section img {
        left: -20px;
    }
    /* -------------------customer review---------------------- */
    .customer_review_content_box {
        padding: 30px;
    }
    .mailo_customer_review_section_dawn {
        gap: 20px;
    }
    .customer_review_box {
        width: 310px;
        height: 240px;
    }
    .customer_location {
        padding-top: 25px;
    }
    .customer_section_part>img {
        width: 65px;
    }
    .mailo_service_section_content h6, 
    .mailo_about_content_section_top h6, 
    .mailo_our_project_content h6, 
    .mailo_blog_section_upper h6, 
    .mailo_customer_review_section_top h6, 
    .customer_info h6 {
        font-size: 16px;
    }
    .customer_section_part {
        gap: 15px;
        padding-bottom: 20px;
    }
    .quata_image>img {
        width: 40px;
    }
    .mailo_customer_review_section {
        padding: 80px 0px;
        background-position: 86% 14%;
        background-size: 13%;
    }
    /* --------------------- footer section----------------- */
    .mailo_footer_area_top_part {
        height: 377px;
        width: 970px;
        margin: auto;
    }
    .mailo_footer_area_top_part_content h2 {
        font-size: 40px;
        padding: 70px 0 40px 0;
    }
    .input_form input {
        width: 400px;
        height: 70px;
        font-size: 14px;
    }
    .input_form button {
        padding: 16px 50px;
        font-size: 16px;
    }
    .footer_wave_image>img {
        width: 85px;
    }
    div#footer_wave>img {
        width: 66px;
    }
    .mailo_footer_area_main_part {
        padding-top: 80px;
    }
    .footer_logo_part {
        padding-right: 70px;
    }
    
    .footer_logo_part p {
        line-height: 20px;
    }
    .footer_logo_part p {
        width: 250px;
        padding-top: 30px;
    }
    .footer_menu_part {
        padding-right: 80px;
    }
    .footer_2nd_menu_part {
        padding-right: 80px;
    }
    .footer_form input {
        width: 312px;
        height: 55px;
        font-size: 12px;
    }
    .mailo_footer_area_main_top_part {
        padding: 0 0 0 25px;
    }
    .footer_socialicon ul li {
        padding: 10px;
    }
    .footer_socialicon ul {
        gap: 15px;
    }
    .mailo_footer_area_main_bottom_part {
        padding: 90px 30px 50px 30px;
    }
    .mailo_footer_section_background {
        background-size: 1920px 643px;
    }
    .footer_copyright_part span {
        font-size: 16px;
    }
    .footer_logo_part>p{
        font-size: 12px;
    }
    .footer_menu ul {
        padding: 25px 0 0 0;
        gap: 15px;
    }
}
/* ----------------------------- for 768px ----------------------------- */
@media (max-width: 768px){
    .mailo_header_logo img {
        width: 80px;
    }
    .mailo_header_menu {
        gap: 50px;
    }
    .mailo_main_menu ul li {
        padding: 0px 15px;
    }
    .mailo_login_option .login {
        width: 84px;
        height: 40px;
        margin-left: 20px;
    }
    .content_top_area h1 {
        background-position: 86% 51%;
        background-size: 190px 93px;
        font-size: 40px;
        line-height: 56px;
        width: 432px;
        padding-bottom: 20px;
    }
    .mailo_hero_section_image img {
        width: 304px;
    }
    .mailo_hero_section_image img {
        top: -17px;
    }
    .mailo_hero_section {
        background-size: 11%;
        background-position: 61% 15%;
        padding-top: 50px;
    }
    .content_bottom_area button {
        font-size: 14px;
        font-weight: 500;
        width: 140px;
        height: 50px;
    }
    .container_background {
        height: 620px;
    }
    .mailo_video>img {
        width: 45px;
    }
    .content_top_area> p {
        width: 325px;
    }
    .content_top_area a span {
        font-size: 12px;
        padding: 8px 14px;
    }
    /* ----------------our service----------------- */
    .service_product_left, .service_product_right {
        flex-direction: column;
        gap: 30px;
    }
    .mailo_our_project_content_demo {
        gap: 30px;
    }
    .mailo_service_section {
        padding: 60px 30px;
    }
    .service_product_box {
        padding: 30px 15px 15px 15px;
    }
    .service_product_box h4, 
    .project_demo_box h4, 
    .mailo_blog_content_box h4, 
    .customer_info h4 {
        font-size: 14px;
    }
    .service_product {
        height: 225px;
    }
    .mailo_service_section_content h3, 
    .mailo_about_content_section_top h3, 
    .mailo_our_project_content h3, 
    .mailo_blog_section_upper h3, 
    .mailo_customer_review_section_top h3 {
        font-size: 26px;
    }
    .mailo_service_section_box {
        gap: 30px;
        padding-top: 30px;
    }.mailo_service_section_content> h6 {
        padding: 0;
    }
    .service_product_box img {
        width: 50px;
        height: 50px;
    }
    .service_product_box>h4 {
        padding: 17px 0 12px 0;
    }
    .mailo_about_section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .mailo_about_image_section img {
        left: 0px;
    }
    .mailo_about_image_section img {
        width: 670px;
        padding-bottom: 50px;
    }
    .mailo_about_content_section_top {
        padding-bottom: 40px;
        align-items: center;
    }
    .mailo_about_content_section_top> p{
        text-align: center;
    }
    .mailo_our_project_sction {
        padding: 60px 0px;
    }
    .mailo_about_content_box {
        width: 300px;
        height: 160px;
    }
    .mailo_about_content_section_bottom {
        justify-content: center;
    }
    .project_menu_list ul li {
        padding: 6px 12px;
        margin: 0px 8px;
    }
    .mailo_our_project_content::after {
        width: 768px;
    }
    .mailo_our_projetc_button::before {
        width: 768px;
    }
    .project_demo_box img {
        width: 300px;
    }
    .project_demo_box_left, .project_demo_box_right {
        display: flex;
        gap: 30px;
        flex-direction: column;
    }
    .project_demo_box> p {
        width: 236px;
        font-size: 12px;
    }
    .service_product_box p, 
    .project_demo_box p, 
    .customer_review_content_box p, 
    .footer_logo_part p, 
    .footer_searching_part p {
        font-size: 12px;
    }
    .mailo_blog_section_dawn {
        gap: 30px;
        flex-direction: column;
        align-items: center;
    }
    .mailo_blog_section_content_box {
        width: 340px;
    }
    .mailo_blog_section_content_box> img {
        width: 340px;
    }
    .mailo_about_content_section_middle {
        gap: 30px;
    }
    .mailo_about_box_group_1 {
        gap: 30px;
    }
    .mailo_blog_section_background {
        padding: 60px 0px;
    }
    .customer_review_box_right {
        display: none;
    }
    .customer_review_box {
        width: 340px;
    }
    .mailo_customer_review_section {
        padding: 60px 0px;
        background-position: 80% 16%;
        background-size: 12%;
    }
    /* ---------------------footer part------------------- */
    .mailo_footer_area_top_part {
        height: 320px;
        width: 708px;
        margin: auto;
    }
    .mailo_footer_area_top_part_content h2 {
        font-size: 32px;
        padding: 70px 0 40px 0;
    }
    .input_form input {
        width: 300px;
        height: 55px;
        font-size: 12px;
        padding-left: 20px;
    }
    .input_form button {
        padding: 13px 35px;
        font-size: 14px;
    }
    .footer_wave_image>img {
        width: 50px;
    }
    div#footer_wave>img {
        width: 33px;
    }
    form.footer_form>img {
        width: 15px;
    }
    .footer_form img {
        position: absolute;
        top: 16px;
        right: 18px;
    }
    .footer_form input {
        width: 225px;
        height: 45px;
        font-size: 10px;
        padding-left: 20px;
    }
    .footer_logo_part {
        padding-right: 30px;
    }
    .footer_menu_part {
        padding-right: 30px;
    }
    .footer_2nd_menu_part {
        padding-right: 30px;
    }
    .footer_menu ul {
        padding: 20px 0 0 0;
        gap: 8px;
    }
    .footer_logo_part p {
        width: 210px;
        padding-top: 20px;
    }
    .footer_menu ul li a {
        font-size: 12px;
    }
    .footer_copyright_part span {
        font-size: 14px;
    }
}

/* ------------------------ for 425px ----------------------- */
@media (max-width: 430px){
    nav.mailo_main_menu {
        display: none;
    }
    .mailo_hero_section_image {
        display: none;
    }
    .mailo_hero_section_image img {
        display: none;
    }
    .content_top_area h1 {
        background-position: 91% 51%;
        background-size: 175px 93px;
        font-size: 38px;
        line-height: 50px;
        width: 392px;
    }
    .mailo_service_section_box {
        flex-direction: column;
        align-items: center;
    }
    .mailo_hero_section {
        background: none;
    }
    .mailo_about_image_section img {
        width: 370px;
        padding-bottom: 30px;
    }
    .container_about_background {
        padding: 40px 0;
    }
    .service_product {
        max-width: 340px;
    }
    .mailo_about_content_section_top> p {
        width: 370px;
    }
    .mailo_about_content_section_middle {
        flex-direction: column;
        align-items: center;
    }
    .mailo_about_content_box {
        width: 350px;
    }
    .mailo_about_content_section_bottom {
        gap: 35px;
    }
    nav.project_menu_list {
        display: none;
    }
    .mailo_our_project_content::after {
        width: 425px;
    }
    .mailo_our_projetc_button::before {
        width: 425px;
    }
    .mailo_our_project_content_demo {
        flex-direction: column;
    }
    .mailo_our_project_sction {
        padding: 40px 0px;
    }
    .project_demo_box img {
        width: 340px;
    }
    .mailo_blog_section_content_box_left {
        flex-direction: column;
    }
    .customer_review_box_right {
        display: flex;
    }
    .customer_review_box_left {
        display: none;
    }
    .mailo_footer_area_top_part {
        height: 200px;
        width: 360px;
    }
    .mailo_footer_area_top_part_content h2 {
        font-size: 20px;
        padding: 48px 0 31px 0;
        font-weight: 500;
    }
    .input_form input {
        width: 180px;
        height: 35px;
        font-size: 8px;
        padding-left: 15px;
    }
    .input_form button {
        padding: 8px 20px;
        font-size: 10px;
    }
    .footer_wave_image>img {
        width: 40px;
    }
    .footer_wave_image {
        top: 14px;
        left: 10px;
    }
    #footer_wave {
        top: 87px;
        right: 25px;
    }
    .mailo_footer_area_main_top_part {
        flex-direction: column;
        gap: 30px;
    }
    .footer_menu ul {
        gap: 3px;
    }
    .footer_searching_part p {
        padding: 20px 0 10px 0;
    }
    .footer_form input {
        width: 278px;
    }
    .footer_form img {
        right: 136px;
    }
    .mailo_footer_area_main_bottom_part {
        padding: 69px 30px 30px 30px;
    }
    
    .mailo_footer_area_main_bottom_part {
        flex-direction: column;
        gap: 7px;
    }
    .mailo_customer_review_section_top {
        padding-bottom: 40px;
    }
    .mailo_customer_review_section {
        padding: 40px 0px;
        background-position: 82% 9%;
        background-size: 12%;
    }
}
